@charset "UTF-8";

body {
	background-color: #f7f7f7;
}

a {
	text-decoration: none;
	cursor: pointer;
	outline: 0 none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.content {
	min-width: 1200px;
}

.wrapper {
	position: relative;
	width: 1200px;
}

.add_success_container {
	width: 100%;
	height: 294px;
	background-color: #fff;
}

.add_success_title {
	padding: 45px 0 0 370px;
	font-size: 21px;
	color: #000;
}

.add_success_title img {
	width: 23px;
	height: 17px;
}

.product_info {
	float: left;
	height: 150px;
	margin: 28px 0 0 130px;
}

.product_action {
	margin: 80px 120px 0 0;
	float: right;
	font-size: 19px;
	color: #fff;
	line-height: 48px;
	text-align: center;
}

.product_img {
	border: 1px solid #ececec;
	float: left;
}

.product_img img {
	width: 150px;
	height: 150px;
}

.product_des {
	float: left;
	margin: 20px 0 0 36px;
	font-size: 18px;
}

product_des>div {
	width: 350px;
	color: #000;
	line-height: 27px;
}

.product_tag {
	color: #686868;
	line-height: 27px;
}

.btn {
	display: inline-block;
	width: 170px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	border-radius: 20px/50%;
	margin-right: 27px;
	user-select: none;
	outline: none;
	border: none;
	cursor: pointer;
	zoom: 1;
	transition: 0.3s;
}

.shop {
	background-color: #444;
}

.shop:hover {
	background-color: #353434;
}

.go {
	background-color: #ff0c53;
	background-image: linear-gradient(270deg, #ff0c53, #e51422);
}

.go:hover {
	background-image: linear-gradient(270deg, #ec0045, #d60513);
}