
        * {
           
            padding: 0;
        }
		body{
			background-color: rgb(247,247,247);
			height: 100%;
			width: 100%;
		}
        .container {
			cursor: pointer; 
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
			background-color: rgb(247,247,247);
			display: flex;
			flex-direction: column; /* 将子元素排列为一列 */
			align-items: stretch; /* 子元素在交叉轴上拉伸以填充整个容器 */
        }
        .menu {
            background-color: rgb(247,247,247);
            padding: 10px;
			margin: 0px;
            margin-bottom: 20px;
        }
        .menu a {
            color: #333;
            text-decoration: none;
            margin-right: 20px;
			position: relative;
        }

		.arrow {
			width: 15px;
			height: 20px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin-left: -20px;
		}
		
		.under {
		  display: flex;
		}
		
		.left {
			padding: 27px 0;
			float: left;
			width: 200px;
			margin-right: 15px;
			background-color: #fff;
			min-height: 922px;
			
			 text-align: center; /* 将内容居中对齐 */
			
			flex: 1; /* 左侧div占据剩余空间 */
			background-color: #FFFFFF;
		}
		
		.right {
			
		  flex: 3; /* 右侧div占据剩余空间 */
		  background-color: #FFFFFF;
		}
		
		.left ul {
			list-style-type: none; /* 去掉列表项前面的圆点 */
			list-style-type: none; /* 去除列表样式 */
			padding: 0; /*内边距（padding）设置为 0*/
		}
		.left .tx {
			width: 120px; /* 设置图片宽度 */
			height: auto; /* 让图片按比例缩放 */

			display: block;/* 将 <.left .tx> 元素显示为块级元素 */
			margin: 0 auto 20px; /* 设置图片与文字之间的间距 */
		}
		ul li {
		    line-height: 3; /* 设置行高 */
			transition: 0.3s;/* 在颜色属性上应用0.3秒的过渡效果 */
			
			list-style-type: none;
			padding: 0;
		} 
		a {
			font-size: 14px;
		    text-decoration: none;
		    color: inherit;
		}
		ul li.s{
			color:#888888;
			font-size: 16px; /* 设置字体大小 */
		}
		ul li.z {
		    font-weight: bold; /* 设置文本加粗 */
			font-size: 16px; /* 设置字体大小 */
		}
		ul li.s:hover {
		    color: #FF9999; /* 设置鼠标悬浮时文本颜色为浅红色 */
			background-color:rgb(253,234,236) ;
		}
		.tkgl {
		    text-align: center;
			
			list-style-type: none;
			font-size: 25px;
			margin-top: 30px; /* 控制下移的距离 */
		}
		.list-caption {
			width: 850px;
			text-align: center;
			
		    color: #666666;
			margin: 30px auto;
			height: 42px;
			border: 1px solid #f8f8f8;
			background-color: #f8f8f8; 
		}
		.col0{
			width: 370px;
			
			float: left;
			text-align: center;
			font-size: 14px;
			color: #666;
			line-height: 42px;
		}
		.col1{
			width: 160px;
			
			float: left;
			text-align: center;
			font-size: 14px;
			color: #666;
			line-height: 42px;
		}
		.co12{
			width: 160px;
			
			float: left;
			text-align: center;
			font-size: 14px;
			color: #666;
			line-height: 42px;
		}
		.col3{
			width: 160px;
			
			float: left;
			text-align: center;
			font-size: 14px;
			color: #666;
			line-height: 42px;
		}
		
		a[href=""] {
			color: #999;
			pointer-events: none; /* 链接不可点击 */
		}
		a[href=""]:hover {
		    color: #999; /* 鼠标悬停时的颜色 */
		}
/* .div1 {
    font-size: 21px;
    color: #000;
    text-align: center;
    margin-top: 30px;
	
} */

.ul1 {
    margin: 30px 0 32px;
    padding-left: 25px;
}

.li1 {
    position: relative; /* 设置定位位置为相对定位 */
    float: left; /* 元素向左浮动 */
    margin-right: 58px; /* 设置右边距为58像素 */
    padding-bottom: 12px; /* 设置底部内边距为12像素 */
    height: 25px; /* 设置高度为25像素 */
    font-size: 16px; /* 设置字体大小为16像素 */
    line-height: 25px; /* 设置行高为25像素 */
    color: #777; /* 设置字体颜色为灰色 */
  height: 22px;
  
} 
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.div1>div{
	float: left;
}
.div2{
	
	height: 50px;
}
[data-a-1].order-list{
		float: left;
	   /*	 width: 925px; */
	    padding: 0 30px 30px;
	    min-height: 952px;
	    color: #666;
	    background-color: #fff;
	    margin-bottom: 72px;
}
[data-a-1].module-title{
	padding-top: 38px;
	    font-size: 21px;
	    color: #000;
	    text-align: center;
}
[data-a-2].ul1{
	margin: 30px 0 32px;
	    padding-left: 25px;
}




.li1{
	position: relative;
	    float: left;
	    margin-right: 58px;
	    padding-bottom: 12px;
	    height: 25px;
	    font-size: 16px;
	    line-height: 25px;
	    color: #777;
}
.div1{
	margin: 20px 0;
	    height: 42px;
	    border: 1px solid #f8f8f8;
	    background-color: #f8f8f8;
}
.col{
		float: left;
	    text-align: center;
	    font-size: 14px;
	    color: #666;
	    line-height: 42px;
}
.col1{
	width: 350px;
}
.col2{
	width: 66px;
	line-height: 42px;float: left;
	    text-align: center;
	    font-size: 14px;
	    color: #666;
	    
}
.col3{
	width: 79px;
}
.col4{
	width: 63px;
}
.col5{
	width: 108px;
}
.col6{
	width: 86px;
}
.head{
	
	border-bottom: 1px solid #ececec;
	    width: 100%;
	    height: 45px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    
	    line-height: 45px;
	    position: relative;
	    color: #333;
}
.leftt{
	   /* width: 100%; */
	    height: 45px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	  /*  border-bottom: 1px solid #ececec; */
	    line-height: 45px;
	    position: relative;
	    color: #333;
}
/* .middle{
	margin-left: 72px; */

	.rightt{
		margin-left: 0pxauto
	}


.mian{
	
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
}
.left_1{
		width: 685px;
	    height: 100%;
	   
	}
.order-item{
	display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    width: 100%;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}	
.order-wrap{
	margin: 0; 
	display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	   /* border-right: 1px solid #ececec; */
}
.order-item-left{
	/* width: 155px; */
	    margin: 25px auto;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    position: relative;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
}
.sj{
	border-right: 1px solid #ececec;
	border-left:  1px solid #ececec;
	width: 120px;
	height: 130px;
}
.order-item-right{
	font-size: 14px;
	    color: #333;
	    -webkit-box-flex: 1;
	    -ms-flex: 1;
	    flex: 1;
	 
}
.top{
	width: 355px;
	border-right: 1px solid #ececec;
	
	height: 130px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    line-height: 24px;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
}
.link{
	color: #333
}
.num{
	width: 110px;
	    text-align: center;
}
.bottom{
	/* border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec; */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    padding-top: 10px;
	    margin-bottom: 20px;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    width: 417px;
	    position: relative;
	}
	.tag{
		position: absolute;
		    left: 7px;
		    top: 20px;
		    height: 100%;
		    width: 80px;
	}
.box-wrap{
	display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    width: 437px;
	    padding-left: 80px;
}
.name-list{
	font-size: 14px;
	    width: 163px;
}
.numm{
	    height: 45px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    width: 66px;
}
.pricee{
	width: 108px;
	    margin-top: 16px;
	    text-align: center;
}
.span{
	padding-left: 5px;
	    display: inline-block;
	    width: 153px;
	    line-height: 45px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
}
.sole-action{
	 border-right: 1px solid #ececec;
	width: 85px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    text-align: center;
	    color: #008cd7;
}
.middle{
	
	
	color: #333;
	   /* width: 107px; */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    /* border-right: 1px solid #ececec; */
	    position: relative;
	    line-height: 1.5;
}
.aa{
	
	
	width: 145px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
}
.zuihou{
	text-align: center;
	    color: #008cd7;
	    text-decoration: none;
	    cursor: pointer;
	    outline: 0 none;
	    margin-top: 10px;
}
element.style {
    height: 45px;
    width: 240px;
	}
	.middle_1{
		color: #333;
		    width: 107px;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
		    border-right: 1px solid #ececec;
		    position: relative;
		    line-height: 1.5;
	}
	.container_1{
		
		height: 60px;
			text-align: right;
			border-left: 1px solid #ececec;
			border-right: 1px solid #ececec;
			border-bottom: 1px solid #ececec;
	}
	.right_2{
		cursor: pointer;
		    text-align: center;
		    margin-left: 16px;
		    border-radius: 18.5px;
		    background-color: #f81200;
		    color: #fff;
		    width: 100px;
		    height: 30px;
		    line-height: 30px;
		    font-size: 13px;
			float: right;
	}
	.left_2{
		
		 align-items: center; 
	}
	.span_2{
	color: #f81200;
	}
	.element.style{
		 display: flex;
	}
	.clearfix::after {
	    content: "";
	    display: block;
	    clear: both;
	}