* {
	margin: 0 auto;
	padding: 0;
}

body {
	background-color: rgb(247, 247, 247);
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgb(247, 247, 247);
	display: flex;
	flex-direction: column;/* 将子元素排列为一列 */
	align-items: stretch;/* 子元素在交叉轴上拉伸以填充整个容器 */
}

.menu {
	background-color: rgb(247, 247, 247);
	padding: 10px;
	margin-bottom: 20px;
	margin: 0;
}

.menu a {
	color: #333;
	text-decoration: none;
	margin-right: 20px;
	position: relative;
}

.arrow {
	width: 15px;
	height: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: -20px;
}

.under {
	display: flex;
	margin: 0;
}

.left {
	padding: 27px 0;
	float: left;
	width: 200px;
	margin-right: 15px;
	background-color: #fff;
	min-height: 922px;
	text-align: center;/* 将内容居中对齐 */
	flex: 1;/* 左侧div占据剩余空间 */
	background-color: #FFFFFF;
}

.right {
	flex: 4;/* 右侧div占据剩余空间 */
	background-color: #FFFFFF;
}

.left ul {
	list-style-type: none;/* 去掉列表项前面的圆点 */
	list-style-type: none;/* 去除列表样式 */
	padding: 0;/*内边距（padding）设置为 0*/
}

.left .tx {
	width: 150px;/* 设置图片宽度 */
	height: auto;/* 让图片按比例缩放 */
	display: block;/* 将 <.left .tx> 元素显示为块级元素 */
	margin: 0 auto 20px;/* 设置图片与文字之间的间距 */
}

#user_muem_item li {
	line-height: 3;/* 设置行高 */
	transition: 0.3s;/* 在颜色属性上应用0.3秒的过渡效果 */
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul li.s {
	color: #888888;
	font-size: 16px;/* 设置字体大小 */
}

ul li.z {
	font-weight: bold;/* 设置文本加粗 */
	font-size: 18px;/* 设置字体大小 */
}

ul li.s:hover {
	color: #e90f23;/* 设置鼠标悬浮时文本颜色为浅红色 */
	background-color: rgb(253, 234, 236);
}

.tkgl {
	text-align: center;
	list-style-type: none;
	font-size: 25px;
	margin-top: 30px;/* 控制下移的距离 */
}

.list-caption {
	width: 850px;
	text-align: center;
	color: #666666;
	margin: 30px auto;
	height: 42px;
	border: 1px solid #f8f8f8;
	background-color: #f8f8f8;
}

.col0 {
	width: 370px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #666;
	line-height: 42px;
}

.col1 {
	width: 160px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #666;
	line-height: 42px;
}

.co12 {
	width: 160px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #666;
	line-height: 42px;
}

.col3 {
	width: 160px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #666;
	line-height: 42px;
}

a[href=""] {
	color: #999;
	pointer-events: none;/* 链接不可点击 */
}

a[href=""]:hover {
	color: #999;/* 鼠标悬停时的颜色 */
}

.zltx {
	font-size: 18px;/* 设置字体大小 */
	position: relative;
	top: 160px;/* 向下调整110像素 */
	left: 140px;/* 向右调整110像素 */
}

.grxx_tx .tx2 {
	width: 200px;/* 设置图片宽度 */
	height: auto;/* 让图片按比例缩放 */
	position: relative;
	top: 40px;
	left: 240px;
}
.gender-section {
	margin-top: 80px;
	margin-left: 180px;
}

.gender-section div {
	display: inline-block;
}

.gender-section label {
	display: inline-block;
	margin-left: 10px;
}
.birthday-section div{
	display: inline-block;
}
.birthday-section {
	margin-top: 25px;
	margin-left: 180px;
}
.jrgrzx{
	font-size: 25px;
	margin-top: 40px;/* 控制下移的距离 */
	margin-left: 30px;
}
.dlsj{
	color: #b0b0b0;
	margin-left: 30px;
}
.xang{
	color: #E8E8E8;
	text-align: center;
	display: block;
}
.item{
	float: left;
	width: 20%;
	height: 56px;
	padding-left: 65px;
	line-height: 55px;
	font-size: 18px;
	background: url(../img/3.png) no-repeat;
	list-style-type: none;/* 去掉列表项前面的圆点 */
	margin-left: 30px;
	color: #828282;
}
.item.eee{
	background-position: 0 -64px;
}
.zjdd{
	font-size: 18px;
	margin-top: 90px;/* 控制下移的距离 */
	margin-left: 30px;
}
.zjll{
	font-size: 18px;
	margin-top: 450px;/* 控制下移的距离 */
	margin-left: 30px;
}
.item a{
	font-size: 24px;
	margin-left: 10px;
	color: #456fff;
}

.regional-submissions {
	margin-top: 20px;
	margin-left: 180px;
}

.regional-submissions div {
	display: inline-block;
}

.button{
	margin-top: 20px;
	margin-left: 250px;	
	width: 160px;
	height: 35px;
	border-radius: 2px;
	font-size: 18px;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e51422), to(#ff0c53));
	background-image: linear-gradient(90deg, #e51422, #ff0c53);
	border: 0;
	cursor: pointer;
}
