body{
	background-color: #f7f7f7;
	user-select: none;
	position: relative;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.neir{
	position: relative;
    width: 1200px;
    margin: 0 auto;
}
.nei_top{
	position: relative;
    height: 66px;
    margin-bottom: 19px;
    line-height: 66px;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    background-color: #fff;
    text-align: center;
}
.nei_top a{
	position: absolute;
    right: 35px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}
.nei_top a:hover{
	color: #ff3029;
}
.cart_head{
	background: #fff;
    padding: 0 26px;
}
.cart_head table{
	width: 100%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    color: #686868;
}
.cart_head table th{
	height: 64px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
}
.col_check{
	width: 175px;
    text-align: left;
}
.golds_col{
	text-align: center;
    width: 250px;
    line-height: 1.4;
}
.price_col{
	width: 128px;
    padding: 0 20px;
    text-align: center;
}
