body{
	background-color: #f7f7f7;
	user-select: none;
	position: relative;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.neir{
	position: relative;
    width: 1200px;
    margin: 0 auto;
}
.nei_top{
	position: relative;
    height: 66px;
    margin-bottom: 19px;
    line-height: 66px;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    background-color: #fff;
    text-align: center;
}
.nei_top a{
	position: absolute;
    right: 35px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}
.nei_top a:hover{
	color: #ff3029;
}
.cart_head{
	background: #fff;
    padding: 0 26px;
}
.cart_head table{
	width: 100%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    color: #686868;
}
.cart_head table th{
	height: 64px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
}
.col_check{
	width: 175px;
    text-align: left;
}
.golds_col{
	text-align: center;
    width: 250px;
    line-height: 1.4;
}
.price_col{
	width: 128px;
    padding: 0 20px;
    text-align: center;
}
.check_input{
	width: 18px;
	height: 18px;
	position: relative;
	top: 4px;
	cursor: pointer;
}
.col_check span{
	transition: 0.3s;
	cursor: pointer;
}
.col_check span:hover{
	    color: #ff3029;
}
.shop_cart_item{
	border-top: 2px solid #f7f7f5;
}
.cart_item_info{
	background: #fff;
    padding: 0 26px;
    font-size: 14px;
}
.che{
	width: 33px;
    text-align: left;
}

.cart_item_info table{
	width: 100%;
    color: #686868;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}
.prod-pic{
	position: relative;
    width: 142px;
    vertical-align: top;
    font-size: 0;
    text-align: left;
}
.figure{
	width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    z-index: 0;
    margin: 25px 20px;
    border: 1px solid #ececec;
}
.figure img{
	width: 100px;
    height: 100px;
}
.golds_link{
	width: 100%;
    color: #333;
	display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	text-decoration: none;
	transition: 0.2s;
}
.golds_link:hover{
	color: #f51200;
}
.pro_col{
	text-align: left;
    width: 250px;
    color: #686868;
    font-size: 14px;
    line-height: 1.4;
}
.number-box{
    font-size: 0;
}
.num_shu{
	border-radius: 0 2px 2px 0;
	display: inline-block;
    height: 18px;
    width: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    padding: 6px 0;
    color: #666;
    vertical-align: middle;
    border: 1px solid #bbb;
	user-select: none;
	cursor: pointer;
}
.prod-num{
	display: inline-block;
	width: 32px;
    height: 18px;
    line-height: 18px;
    padding: 6px 2px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
    vertical-align: middle;
}

.total_price{
	color: #f51200;
}
.zaozuo{
	line-height: 1.7;
}
.zaozuo a{
	color: #333;
	text-decoration: none;
}

.cart_toolbar_wrap{
	width: 100%;
    z-index: 1;
    zoom: 1;
    height: 98px;
    margin: 19px 0 37px;
}
.toolbar_wrapper{
	background: #fff;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.cart_toolbar_inner{
	padding: 0 26px;
    zoom: 1;
}
.option_list{
	float: left;
}
.option_list li{
	list-style: none;
	float: left;
    margin-right: 30px;
    height: 98px;
    line-height: 98px;
}
.wei{
	transition: 0.2s;
	cursor: pointer;
}
.wei:hover{
	color: #f51200;
}
.total_right{
	float: right;
    text-align: left;
}
.total_right table{
	vertical-align: middle;
    text-align: right;
}
.price{
	font-size: 33px;
    color: #f51200;
	font-weight: 400;
}
.wenzi{
	line-height: 28px;
    font-size: 14px;
    white-space: nowrap;
    width: 558px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 20px;
}
.yshi{
	padding: 20px 0 0 20px;
}
#jiesuan{
	background-color: #ff0c53;
    background-image: linear-gradient(270deg, #ff0c53, #e51422);
	display: inline-block;
    width: 170px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 20px / 50%;
    margin-right: 27px;
    user-select: none;
    outline: none;
    border: none;
	cursor: pointer;
}
#number{
	color: #f04141 !important;
}


/* 弹窗 */
.message{
	width: 100%;
	height: 100vh;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
	z-index: 999;
}
.message_box{
	width: 492px;
    padding: 35px 0 46px;
	display: inline-block;
    padding-bottom: 10px;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    font-size: 18px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    text-align: left;
    overflow: hidden;
    backface-visibility: hidden;
}
.message_box_head{
	padding: 0 ;
    margin: 25px 0 15px;
    text-align: center;
    min-height: 20px;
	position: relative;
}
.message_box_head span{
	font-size: 21px;
    color: #333;
}
.guan{
	position: absolute;
	top: -45px;
    right: 15px;
	cursor: pointer;
	transition: 0.3s;
}
.guan:hover>path{
	fill: #415fff;
}
.message_box_center{
	color: #606266;
    font-size: 14px;
	padding: 0 15px 40px;
}
.message_box_footer{
	padding: 5px 15px 0;    
	text-align: center;
}