body {
	background-color: #f7f7f7;
}

a {
	text-decoration: none;
	cursor: pointer;
	outline: 0 none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

#content {
	min-width: 1200px;
	background-color: #fff;
}

.section_wrapper {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	line-height: 72.8px;
}

.first {
	color: #333;
	font-size: 14px;
	display: inline-block;
	height: 72px
}

.jian {
	width: 1em;
	height: 1em;
	vertical-align: -.15em;
	color: currentColor;
	overflow: hidden;
	padding: 0 4px;
}

.p_name {
	color: #999;
}

.base-info {
	width: 1200px;
	background-color: #fff;
	position: relative;
}

.base-info_container {
	/* display: flex;
	justify-content: space-between; */
	position: relative;
}

.base_left {
	width: 515px;
	height: 100px;
	background: #000;
	float: left;
	position: sticky;
	top: 20px;
}

.base_right {
	width: 510px;
	height: 4000px;
	background: #ccc;
	float: right;
}

.name {
	font-size: 34px;
	line-height: 1.2;
	margin-top: 10px;
	word-wrap: break-word;
}

.intro {
	line-height: 22px;
	margin-top: 10px;
	font-size: 14px;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 3;
}

.summary {
	margin: 36px 0 15px;
	padding: 38px 0;
	border: solid #e4e4e4;
	border-width: 1px 0;
	display: flex;
	width: 100%;
}

.summary_price {
	width: 230px;
	display: flex;
	align-items: center;
}

.sale-price {
	font-size: 40px;
	color: #f51200;
	line-height: 38px;
}

.summary_activity {
	flex: 1;
	width: 0;
	padding-left: 15px;
	border-left: 1px solid #e0e0e0;
}

.list_item {
	padding: 6px 0;
	list-style: none;
}

.lable {
	display: inline-block;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
	text-align: center;
	padding: 0 5px;
	margin-right: 10px;
	color: #fff;
	background-color: #f51314;
	border-radius: 2px;
	float: left;
}

list_item p {
	flex: 1;
	width: 0;
	line-height: 1.4;
	display: flex;
	flex-wrap: wrap;
	float: left;
}