body {
	background-color: #f7f7f7;
}

a {
	text-decoration: none;
	cursor: pointer;
	outline: 0 none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

#content {
	min-width: 1200px;
	background-color: #fff;
}

.section_wrapper {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	line-height: 72.8px;
}

.first {
	color: #333;
	font-size: 14px;
	display: inline-block;
	height: 72px
}

.jian {
	width: 1em;
	height: 1em;
	vertical-align: -.15em;
	color: currentColor;
	overflow: hidden;
	padding: 0 4px;
}

.p_name {
	color: #999;
}

.base-info {
	width: 1200px;
	background-color: #fff;
	position: relative;
}

.base-info_container {
	/* display: flex;
	justify-content: space-between; */
	position: relative;
}

.base_left {
	width: 515px;
	float: left;
	position: sticky;
	top: 30px;
}

.base_right {
	width: 510px;
	height: 4000px;
	float: right;
}

.name {
	font-size: 33px;
	line-height: 1.2;
	margin-top: 10px;
	word-wrap: break-word;
	font-weight: bold;
}

.intro {
	line-height: 22px;
	margin-top: 10px;
	font-size: 14px;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 3;
}

.summary {
	margin: 36px 0 15px;
	padding: 38px 0;
	border: solid #e4e4e4;
	border-width: 1px 0;
	display: flex;
	width: 100%;
}

.summary_price {
	width: 230px;
	display: flex;
	align-items: center;
}

.sale-price {
	font-size: 40px;
	color: #f51200;
	line-height: 38px;
}

.summary_activity {
	flex: 1;
	width: 0;
	padding-left: 15px;
	border-left: 1px solid #e0e0e0;
}

.list_item {
	padding: 6px 0;
	list-style: none;
}

.lable {
	display: inline-block;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
	text-align: center;
	padding: 0 5px;
	margin-right: 10px;
	color: #fff;
	background-color: #f51314;
	border-radius: 2px;
	float: left;
}

list_item p {
	flex: 1;
	width: 0;
	line-height: 1.4;
	display: flex;
	flex-wrap: wrap;
	float: left;
}

.sku-module_title {
	padding-top: 20px;
	font-size: 19px;
	line-height: 1;
	margin-bottom: 20px;
	color: #333;
}

.sku-module_content {
	margin-left: -15px;
	margin-bottom: 10px;
}

.list_item {
	overflow: hidden;
}

.sku-module_item {
	box-sizing: border-box;
	float: left;
	line-height: 57px;
	width: 243px;
	text-align: center;
	padding: 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 57px;
	margin-bottom: 15px;
	margin-left: 15px;
	font-size: 16px;
	color: #777;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 6px;
	position: relative;
	user-select: none;
}

.sku_checked {
	color: #e90f23;
	border-color: #e90f23
}

.img_list_big {
	width: 100%;
	height: 515px;
	position: relative;
}

.big_item {
	width: 515px;
	height: 515px;
	list-style: none;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 0;
	transition: opacity .8s;
}

.xianshi {
	opacity: 1;
	z-index: 1;
}

.big_item img {
	width: 100%;
	height: 100%;
}

.img_small {
	position: relative;
	margin: 50px 0 15px;
	height: 87px;
	border: 1px solid #eaeaea;
	border-radius: 20px;
}

.opration {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 38px;
	height: 38px;
	line-height: 38px;
	color: #b3b3b3;
	border-radius: 50%;
	/* #eaeaea */
	border: 1px solid #b3b3b3;
	text-align: center;
	cursor: pointer;
	user-select: none;
	transition: all .3s;
}

.op_left {
	left: 30px;
}

.op_right {
	right: 30px;
}

.list_wrapper {
	width: 378px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.ul_xiao {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	white-space: nowrap;
	transition: all .5s;
}

.small_item {
	display: inline-block;
	width: 87px;
	height: 87px;
	line-height: 87px;
	margin: 0 2px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	list-style: none;
}

.small_item img {
	width: 85px;
	height: 85px;
}