*{
	margin: 0 auto;
	padding: 0;
}
body{
	width: 100%;
    font-size: 12px;
    background-color: rgb(247, 247, 247);
}
.content{
	background: #fff;
    margin: 60px auto 0;
    min-height: 670px;
    overflow: hidden;
    width: 860px
}

.logo{
	margin-top: 60px;
	text-align: center;
}
.title_p{
	color: #000;
    font-family: HYQiHei-FZS;
    font-size: 22px;
    text-align: center;
}


.form_item{
	width: 100%;
	height: 46px;
	border-bottom: 1px solid #898989;
	position: relative;
}
.form_item input{
	width: 100%;
	height: 96%;
	outline: none;
	font-size: 17px;
	text-indent: 1em;
}
.form_item .bar{
	display: block;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background-color: #456fff;
    transition: 0.4s ease;
}
.form_item label{
	font-size: 16px;
    position: absolute;
    top: 14px;
    left: 10px;
    transition: 0.4s ease;
	pointer-events: none;
	padding: 0 5px;
	background-color: #Fff;
	color: #999;
}
.form_item input:focus~.bar{
	width: 100%;
}
.form_item input:valid~label,
.form_item input:focus~label{
	color: #456fff;
	transform: translateY(-23px);
	font-size: 12px;
}

.biaodan{
	margin-top: 40px;
}


.feng{
	background-color: #dedfe0;
    height: 33px;
    left: 0;
    padding: 0;
    position: absolute;
    top: -6px;
    width: 1px;
}
.yzm{
	position: absolute;
	right: 0;
	top: 13px;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    width: 118px;
	color: #456fff;
    cursor: pointer;
}
.tishi{
	color: #ec3f3f;
    font-size: 14px;
    text-align: left;
	margin: 12px 0 ;
}

#sub{
	margin: 60px auto 100px;
    width: 360px;
}
.biyan{
	width: 25px;
	margin-right: 10px;
}
.biyan svg:nth-child(2){
	display: none;
}
.btn{
	border: 1px solid #456fff;
    color: #456fff;
    cursor: pointer;
    font-size: 17px;
    height: 48px;
    line-height: 48px;
    margin-top: 15px;
    text-align: center;
    width: 360px;
	transition: 0.3s;
}
#zhuce{
	background-color: #456fff;
    background-image: linear-gradient(90deg, #418eff, #4566ff);
    color: #fff;
    display: block;
    font-size: 17px;
    height: 48px;
    line-height: 48px;
    margin: 20px auto 0;
	border-radius: 5px;
}
.xieyi{
	position: relative;
	transition: 0.3s;
}
.xieyi label input{
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
}
.xieyi label{
	font-size: 14px;
}
.zi{
	color: #456fff;
	cursor: pointer;
}
